<h1>Dashboard</h1>

<table class="table">
  <tr>
    <th></th>
    <th>Products</th>
    <th>Categories</th>
  </tr>
  <tr>
    <td>Count</td>
    <td><%= @product_count %></td>
    <td><%= @category_count %></td>
  </tr>
  <tr>
    <td><strong><%= link_to 'Products', admin_products_path %></strong></td>
    <td></td>
    <td></td>
  </tr>
</table>